@charset "UTF-8";
/* リセットCSS
===================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  color: #2f2f2f;
}
@media (max-width: 560px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  body {
    font-size: 12px;
  }
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.size-micro {
  font-size: 9px;
  font-weight: 200;
}
@media (max-width: 560px) {
  .size-micro {
    font-size: 9px;
    font-weight: 200;
  }
}

.size-small-L {
  font-size: 10px;
}
@media (max-width: 560px) {
  .size-small-L {
    font-size: 10px;
  }
}

.size-small-M {
  font-size: 12px;
}
@media (max-width: 560px) {
  .size-small-M {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .size-small-M {
    font-size: 10px;
  }
}

.size-small-H {
  font-size: 14px;
}
@media (max-width: 560px) {
  .size-small-H {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .size-small-H {
    font-size: 12px;
  }
}

.size-medium-L {
  font-size: 18px;
}
@media (max-width: 560px) {
  .size-medium-L {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .size-medium-L {
    font-size: 14px;
  }
}

.size-medium-M {
  font-size: 20px;
}
@media (max-width: 560px) {
  .size-medium-M {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .size-medium-M {
    font-size: 16px;
  }
}

.size-medium-H {
  font-size: 24px;
}
@media (max-width: 560px) {
  .size-medium-H {
    font-size: 24px;
  }
}
@media (max-width: 400px) {
  .size-medium-H {
    font-size: 20px;
  }
}

.size-large-L {
  font-size: 28px;
}
@media (max-width: 560px) {
  .size-large-L {
    font-size: 28px;
  }
}
@media (max-width: 400px) {
  .size-large-L {
    font-size: 24px;
  }
}

.size-large-M {
  font-size: 30px;
}
@media (max-width: 560px) {
  .size-large-M {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .size-large-M {
    font-size: 26px;
  }
}

.size-large-H {
  font-size: 54px;
}
@media (max-width: 560px) {
  .size-large-H {
    font-size: 54px;
  }
}
@media (max-width: 400px) {
  .size-large-H {
    font-size: 44px;
  }
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-700 {
  font-weight: 700;
}

.color-pink {
  color: #FFA398;
}

.color-red {
  color: #FE7063;
}

.lp-body {
  background: #F7DBCF;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.lp-body-img {
  position: relative;
  height: 100vh;
  aspect-ratio: 1785/2526;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 1000px) {
  .lp-body-img {
    height: auto;
    width: 100%;
  }
}
.lp-body-img img {
  height: 100%;
}
@media (max-width: 1000px) {
  .lp-body-img img {
    height: auto;
    width: 100%;
  }
}

.lp-body-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px 40px;
  background: #EEEEEE;
  border: 3px solid #FE7063;
  line-height: 2.5em;
  width: 85%;
  max-width: 830px;
}

@media (max-width: 560px) {
  .section {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
  }
}
@media (max-width: 400px) {
  .section {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
  }
}

.lp-body-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #FE7063;
  font-weight: 700;
  position: relative;
  line-height: 1.2em;
}
@media (max-width: 560px) {
  .lp-body-title {
    font-size: 20px;
    margin-bottom: 35px;
  }
}
@media (max-width: 400px) {
  .lp-body-title {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
.lp-body-title::before {
  content: "";
  height: 2px;
  background: #FE7063;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 560px) {
  .lp-body-title::before {
    width: 120px;
    bottom: -8px;
  }
}
@media (max-width: 400px) {
  .lp-body-title::before {
    width: 100px;
    bottom: -5px;
  }
}

.lp-btn {
  background: #E39895;
  color: #EEEEEE;
  text-align: center;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 560px) {
  .lp-btn {
    width: 148px;
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    margin-top: 20px;
  }
}
@media (max-width: 560px) {
  .lp-btn {
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    margin-top: 10px;
  }
}
.lp-btn a {
  display: block;
}

.sp-L-only {
  display: none;
}
@media (max-width: 400px) {
  .sp-L-only {
    display: block;
  }
}

.not-sp-L {
  display: block;
}
@media (max-width: 400px) {
  .not-sp-L {
    display: none;
  }
}

.lp_top-head {
  position: relative;
  background: linear-gradient(-45deg, #F5DACD, #EEEEEE 60%, #F5DACD);
}
@media (max-width: 560px) {
  .lp_top-head {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 400px) {
  .lp_top-head {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 560px) {
  .lp_top-organizer {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

.lp_top-title-fure {
  position: relative;
  width: 100%;
  z-index: 2;
}
@media (max-width: 560px) {
  .lp_top-title-fure {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
@media (max-width: 400px) {
  .lp_top-title-fure {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.lp_top-title {
  position: relative;
  z-index: 3;
}
@media (max-width: 560px) {
  .lp_top-title {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

.lp_top-title-sub {
  position: absolute;
  bottom: 0;
}
@media (max-width: 560px) {
  .lp_top-title-sub {
    left: 196px;
  }
}
@media (max-width: 400px) {
  .lp_top-title-sub {
    left: 160px;
  }
}

.lp_top-date {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2em;
  z-index: 3;
}
@media (max-width: 560px) {
  .lp_top-date {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

.lp_top-date-sun {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-align: center;
  line-height: 1em;
  margin-left: 3px;
}

@media (max-width: 400px) {
  .lp_top-date-time {
    line-height: 36px;
  }
}

.lp_top-text {
  line-height: 1.2em;
  position: relative;
  z-index: 3;
}
@media (max-width: 560px) {
  .lp_top-text {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

.lp_top-title-koi {
  position: relative;
  width: 100%;
  z-index: 2;
}
@media (max-width: 560px) {
  .lp_top-title-koi {
    margin-top: -15px;
  }
}
@media (max-width: 400px) {
  .lp_top-title-koi {
    margin-top: -8px;
  }
}

.lp_top-bottom {
  background: #E39895;
  color: #EEEEEE;
  position: relative;
  z-index: 1;
}
@media (max-width: 560px) {
  .lp_top-bottom {
    padding: 45px 20px 30px;
    margin-top: -30px;
  }
}
@media (max-width: 400px) {
  .lp_top-bottom {
    padding: 30px 15px 60px;
    margin-top: -25px;
  }
}

.lp_top-bottom-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
@media (max-width: 560px) {
  .lp_top-bottom-part {
    margin-bottom: 15px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 400px) {
  .lp_top-bottom-part {
    margin-bottom: 10px;
  }
}

.lp_top-bottom-part-last {
  margin-bottom: 0;
}

.lp_top-bottom-title {
  border-radius: 12.5px;
  background: #EEEEEE;
  color: #E39895;
  text-align: center;
}
@media (max-width: 560px) {
  .lp_top-bottom-title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 52px;
            flex: 0 0 52px;
    height: 23px;
    line-height: 23px;
    margin-right: 10px;
  }
}

.lp_top-bottom-text-paragraph {
  margin-bottom: 3px;
}

.lp_top-bottom-text-last {
  padding-top: 5px;
}

.lp-btn-light {
  position: absolute;
  bottom: 20px;
  line-height: 1.2em;
  background: #F7DBCF;
  color: #E39895;
}
@media (max-width: 560px) {
  .lp-btn-light {
    width: 86px;
    height: 40px;
    right: 20px;
    padding-top: 8px;
  }
}
@media (max-width: 400px) {
  .lp-btn-light {
    width: 120px;
    height: 30px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 560px) {
  .lp_worries {
    margin-top: 40px;
  }
}
@media (max-width: 400px) {
  .lp_worries {
    margin-top: 30px;
  }
}

@media (max-width: 560px) {
  .lp_worries-lists {
    margin-top: 30px;
  }
}
@media (max-width: 400px) {
  .lp_worries-lists {
    margin-top: 20px;
  }
}

.lp_worries-list {
  position: relative;
  margin-left: 20px;
  margin-bottom: 15px;
  line-height: 1.2em;
}
@media (max-width: 560px) {
  .lp_worries-list {
    margin-left: 20px;
    margin-bottom: 15px;
  }
}
@media (max-width: 400px) {
  .lp_worries-list {
    margin-left: 15px;
    margin-bottom: 10px;
  }
}
.lp_worries-list::before {
  content: "";
  border-radius: 50%;
  background: #FFA398;
  position: absolute;
}
@media (max-width: 560px) {
  .lp_worries-list::before {
    width: 8px;
    height: 8px;
    left: -15px;
    top: 4px;
  }
}
@media (max-width: 400px) {
  .lp_worries-list::before {
    width: 6px;
    height: 6px;
    left: -12px;
  }
}

.lp_worries-arrow {
  position: relative;
  height: 40px;
}
@media (max-width: 560px) {
  .lp_worries-arrow {
    height: 40px;
  }
}
@media (max-width: 400px) {
  .lp_worries-arrow {
    height: 30px;
  }
}
.lp_worries-arrow::before {
  content: "";
  border-bottom: 5px solid #FFA398;
  border-left: 5px solid #FFA398;
  -webkit-transform: rotate(-45deg) skew(20deg, 20deg) translateX(-50%);
          transform: rotate(-45deg) skew(20deg, 20deg) translateX(-50%);
  position: absolute;
  left: 50%;
  border-radius: 5px 0 5px 0;
}
@media (max-width: 560px) {
  .lp_worries-arrow::before {
    width: 40px;
    height: 40px;
    top: -30px;
  }
}
@media (max-width: 400px) {
  .lp_worries-arrow::before {
    width: 30px;
    height: 30px;
    top: -20px;
  }
}

.lp_worries-answer {
  line-height: 1.2em;
}

.lp_worries-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 560px) {
  .lp_worries-bottom {
    margin-top: 10px;
  }
}
@media (max-width: 400px) {
  .lp_worries-bottom {
    margin-top: 5px;
  }
}

.lp_worries-bottom-left {
  line-height: 1.2em;
}

@media (max-width: 560px) {
  .lp_worries-bottom-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    margin-left: 10px;
  }
}
@media (max-width: 400px) {
  .lp_worries-bottom-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
    margin-left: 5px;
  }
}

.lp_worries-bottom-right-img {
  aspect-ratio: 20/15;
  border-radius: 20px;
}
@media (max-width: 560px) {
  .lp_worries-bottom-right-img {
    width: 200px;
  }
}
@media (max-width: 400px) {
  .lp_worries-bottom-right-img {
    width: 120px;
  }
}
.lp_worries-bottom-right-img img {
  border-radius: 20px;
}

.lp_schedule-title {
  color: #FE7063;
  border-bottom: 1px solid #FE7063;
  padding-bottom: 3px;
  font-weight: 700;
  line-height: 1.2em;
}
@media (max-width: 560px) {
  .lp_schedule-title {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-title {
    font-size: 16px;
  }
}

.lp_schedule-lead {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2em;
  margin-top: 5px;
}

.lp_schedule-lead-sub {
  margin-top: 0;
}

.lp_schedule-sub {
  font-weight: 700;
  line-height: 1.2em;
}
@media (max-width: 560px) {
  .lp_schedule-sub {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-sub {
    font-size: 12px;
  }
}

.lp_schedule-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 560px) {
  .lp_schedule-subtitle-name {
    margin-left: 10px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-subtitle-name {
    margin-left: 5px;
  }
}

.lp_schedule-first {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 560px) {
  .lp_schedule-first {
    max-width: 430px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-first {
    max-width: 310px;
  }
}

.lp_schedule-first-img {
  position: relative;
  border-radius: 50%;
}
@media (max-width: 560px) {
  .lp_schedule-first-img {
    margin-top: -30px;
    margin-left: -35px;
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-first-img {
    margin-top: -20px;
    margin-left: -40px;
    width: 150px;
    height: 150px;
  }
}
.lp_schedule-first-img img {
  border-radius: 50%;
}

.lp_schedule-text-first {
  position: absolute;
}
@media (max-width: 560px) {
  .lp_schedule-text-first {
    top: 30px;
    left: 130px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-text-first {
    top: 20px;
    left: 90px;
  }
}

.lp_schedule-title-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 560px) {
  .lp_schedule-title-first {
    width: 160px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-title-first {
    width: 135px;
  }
}

.lp_schedule-title-name-first {
  margin-left: 15px;
}

.lp_schedule-lead-first {
  margin-left: 25px;
}
@media (max-width: 560px) {
  .lp_schedule-lead-first {
    margin-left: 25px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-lead-first {
    margin-left: 10px;
  }
}

.lp_schedule-first-sub {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 560px) {
  .lp_schedule-first-sub {
    max-width: 430px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-first-sub {
    max-width: 310px;
  }
}

.lp_schedule-arrow-first {
  position: relative;
}
@media (max-width: 560px) {
  .lp_schedule-arrow-first {
    width: 130px;
    top: -20px;
    left: 70px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-arrow-first {
    width: 100px;
    top: -15px;
    left: 40px;
  }
}

.lp_schedule-sub-first {
  position: absolute;
}
@media (max-width: 560px) {
  .lp_schedule-sub-first {
    top: 10px;
    left: 100px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-sub-first {
    top: 5px;
    left: 60px;
  }
}

.lp_schedule-sub-second {
  position: absolute;
}
@media (max-width: 560px) {
  .lp_schedule-sub-second {
    top: 50px;
    left: 140px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-sub-second {
    top: 35px;
    left: 80px;
  }
}

@media (max-width: 560px) {
  .lp_schedule-sub-second-lead {
    margin-left: 63px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-sub-second-lead {
    margin-left: 45px;
  }
}

.lp_schedule-second {
  position: relative;
}
@media (max-width: 400px) {
  .lp_schedule-second {
    max-width: 310px;
    margin-left: auto;
  }
}

.lp_schedule-second-img {
  position: relative;
  border-radius: 50%;
}
@media (max-width: 560px) {
  .lp_schedule-second-img {
    margin-top: -80px;
    margin-left: 220px;
    width: 140px;
    height: 140px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-second-img {
    margin-top: -65px;
    margin-left: 140px;
    width: 110px;
    height: 110px;
  }
}
.lp_schedule-second-img img {
  border-radius: 50%;
}

.lp_schedule-text-second {
  position: absolute;
}
@media (max-width: 560px) {
  .lp_schedule-text-second {
    top: 50px;
    left: 20px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-text-second {
    top: 25px;
    left: 5px;
  }
}

.lp_schedule-title-second {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 175px;
}
@media (max-width: 560px) {
  .lp_schedule-title-second {
    width: 175px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-title-second {
    width: 145px;
  }
}

.lp_schedule-title-name-second {
  margin-left: 15px;
}
@media (max-width: 560px) {
  .lp_schedule-title-name-second {
    margin-left: 15px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-title-name-second {
    margin-left: 10px;
  }
}

@media (max-width: 560px) {
  .lp_schedule-lead-second {
    width: 200px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-lead-second {
    width: 150px;
  }
}

.lp_schedule-second-sub {
  position: relative;
}
@media (max-width: 400px) {
  .lp_schedule-second-sub {
    max-width: 310px;
    margin-left: auto;
  }
}

.lp_schedule-arrow-second {
  position: relative;
  -webkit-transform: scale(-1, 1) rotate(-5deg);
          transform: scale(-1, 1) rotate(-5deg);
}
@media (max-width: 560px) {
  .lp_schedule-arrow-second {
    width: 90px;
    top: -40px;
    left: 145px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-arrow-second {
    width: 60px;
    top: -30px;
    left: 80px;
    -webkit-transform: scale(-1, 1) rotate(0deg);
            transform: scale(-1, 1) rotate(0deg);
  }
}

.lp_schedule-sub-third {
  width: 160px;
  position: absolute;
  top: 20px;
  left: 200px;
}
@media (max-width: 560px) {
  .lp_schedule-sub-third {
    width: 160px;
    top: 20px;
    left: 200px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-sub-third {
    width: 140px;
    top: 10px;
    left: 110px;
  }
}

.lp_schedule-sub-third-lead {
  margin-left: 15px;
}

.lp_schedule-third {
  position: relative;
}
@media (max-width: 400px) {
  .lp_schedule-third {
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
  }
}

.lp_schedule-third-img {
  position: relative;
  margin-left: 0px;
  border-radius: 50%;
}
@media (max-width: 560px) {
  .lp_schedule-third-img {
    margin-top: -80px;
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-third-img {
    margin-top: -40px;
    width: 120px;
    height: 120px;
  }
}
.lp_schedule-third-img img {
  border-radius: 50%;
}

.lp_schedule-text-third {
  position: absolute;
}
@media (max-width: 560px) {
  .lp_schedule-text-third {
    top: 50px;
    left: 160px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-text-third {
    top: 40px;
    left: 110px;
  }
}

.lp_schedule-title-third {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 560px) {
  .lp_schedule-title-third {
    width: 190px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-title-third {
    width: 140px;
  }
}

@media (max-width: 560px) {
  .lp_schedule-title-name-third {
    margin-left: 30px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-title-name-third {
    margin-left: 10px;
  }
}

@media (max-width: 560px) {
  .lp_schedule-lead-third {
    width: 190px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-lead-third {
    width: 140px;
  }
}

.lp_schedule-third-sub {
  position: relative;
}
@media (max-width: 400px) {
  .lp_schedule-third-sub {
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
  }
}

.lp_schedule-arrow-third {
  position: relative;
}
@media (max-width: 560px) {
  .lp_schedule-arrow-third {
    width: 150px;
    top: -20px;
    left: 60px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-arrow-third {
    width: 110px;
    top: -10px;
    left: 30px;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

.lp_schedule-sub-fourth {
  position: absolute;
}
@media (max-width: 560px) {
  .lp_schedule-sub-fourth {
    top: 15px;
    left: 90px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-sub-fourth {
    top: 10px;
    left: 55px;
  }
}

@media (max-width: 560px) {
  .lp_schedule-sub-fourth-lead {
    margin-left: 63px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-sub-fourth-lead {
    margin-left: 30px;
  }
}

.lp_schedule-sub-fifth {
  position: absolute;
}
@media (max-width: 560px) {
  .lp_schedule-sub-fifth {
    top: 70px;
    left: 130px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-sub-fifth {
    top: 60px;
    left: 80px;
  }
}

@media (max-width: 560px) {
  .lp_schedule-sub-fifth-lead {
    margin-left: 63px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-sub-fifth-lead {
    margin-left: 40px;
  }
}

.lp_schedule-fourth {
  position: relative;
}
@media (max-width: 400px) {
  .lp_schedule-fourth {
    max-width: 310px;
    margin-left: auto;
  }
}

.lp_schedule-fourth-img {
  position: relative;
  border-radius: 50%;
}
@media (max-width: 560px) {
  .lp_schedule-fourth-img {
    margin-top: -90px;
    margin-left: 200px;
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-fourth-img {
    margin-top: -40px;
    margin-left: 100px;
    width: 180px;
    height: 180px;
  }
}
.lp_schedule-fourth-img img {
  border-radius: 50%;
}

.lp_schedule-text-fourth {
  position: absolute;
}
@media (max-width: 560px) {
  .lp_schedule-text-fourth {
    top: 50px;
    left: 0;
  }
}
@media (max-width: 400px) {
  .lp_schedule-text-fourth {
    top: 130px;
  }
}

.lp_schedule-title-fourth {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 560px) {
  .lp_schedule-title-fourth {
    width: 210px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-title-fourth {
    width: 175px;
  }
}

.lp_schedule-title-name-fourth {
  margin-left: 10px;
}

@media (max-width: 560px) {
  .lp_schedule-lead-fourth {
    width: 200px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-lead-fourth {
    width: 175px;
  }
}

.lp_schedule-fourth-sub {
  position: relative;
}
@media (max-width: 400px) {
  .lp_schedule-fourth-sub {
    max-width: 310px;
    margin-left: auto;
  }
}

.lp_schedule-arrow-fourth {
  position: relative;
}
@media (max-width: 560px) {
  .lp_schedule-arrow-fourth {
    width: 80px;
    top: -65px;
    left: 120px;
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
}
@media (max-width: 400px) {
  .lp_schedule-arrow-fourth {
    width: 60px;
    top: 0;
    left: 150px;
    -webkit-transform: scale(-1, 1) rotate(20deg);
            transform: scale(-1, 1) rotate(20deg);
  }
}

.lp_schedule-fifth {
  position: relative;
}

.lp_schedule-fifth-img {
  position: relative;
  margin-top: -75px;
  margin-left: -20px;
  width: calc(100% + 40px);
  height: 140px;
}
@media (max-width: 560px) {
  .lp_schedule-fifth-img {
    margin-top: -75px;
    margin-left: -20px;
    width: calc(100% + 40px);
    height: 140px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-fifth-img {
    margin-top: 0;
    margin-left: -15px;
    width: calc(100% + 30px);
  }
}

.lp_schedule-text-fifth {
  position: absolute;
  bottom: 10px;
  right: 0;
  z-index: 3;
}

.lp_schedule-title-fifth {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 560px) {
  .lp_schedule-title-fifth {
    width: 160px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-title-fifth {
    width: 130px;
  }
}

@media (max-width: 560px) {
  .lp_schedule-lead-fifth {
    width: 160px;
  }
}
@media (max-width: 400px) {
  .lp_schedule-lead-fifth {
    width: 130px;
  }
}

.lp_feature-reviews {
  position: relative;
}

.lp_feature-text {
  position: relative;
  z-index: 5;
}

.lp_feature-reviews-img {
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}
.lp_feature-reviews-img img {
  border-radius: 50%;
}

.lp_feature-reviews-text {
  position: relative;
  display: inline-block;
  background: #EEEEEE;
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 0px #FFA398;
          box-shadow: 2px 2px 0px #FFA398;
  z-index: 4;
}
@media (max-width: 560px) {
  .lp_feature-reviews-text {
    padding: 10px 14px;
  }
}
@media (max-width: 400px) {
  .lp_feature-reviews-text {
    padding: 6px 10px;
  }
}
.lp_feature-reviews-text::before {
  content: "";
  background: #FFA398;
  clip-path: polygon(100% 0, 90% 100%, 60% 100%);
  position: absolute;
}
@media (max-width: 560px) {
  .lp_feature-reviews-text::before {
    width: 25px;
    height: 19px;
  }
}
@media (max-width: 400px) {
  .lp_feature-reviews-text::before {
    width: 20px;
    height: 14px;
  }
}
.lp_feature-reviews-text::after {
  content: "";
  background: #EEEEEE;
  clip-path: polygon(100% 0, 75% 100%, 0 100%);
  position: absolute;
}
@media (max-width: 560px) {
  .lp_feature-reviews-text::after {
    width: 25px;
    height: 20px;
  }
}
@media (max-width: 400px) {
  .lp_feature-reviews-text::after {
    width: 20px;
    height: 15px;
  }
}

@media (max-width: 560px) {
  .lp_feature-reviews-first {
    height: 220px;
  }
}
@media (max-width: 400px) {
  .lp_feature-reviews-first {
    height: 180px;
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 560px) {
  .lp_feature-reviews-img-first {
    width: 220px;
    height: 220px;
    top: -10px;
    right: -30px;
  }
}
@media (max-width: 400px) {
  .lp_feature-reviews-img-first {
    width: 180px;
    height: 180px;
    right: -20px;
  }
}

@media (max-width: 560px) {
  .lp_feature-reviews-text-first {
    top: 140px;
  }
}
.lp_feature-reviews-text-first::before {
  right: 25px;
}
@media (max-width: 560px) {
  .lp_feature-reviews-text-first::before {
    top: -19px;
  }
}
@media (max-width: 400px) {
  .lp_feature-reviews-text-first::before {
    top: -14px;
  }
}
.lp_feature-reviews-text-first::after {
  right: 25px;
}
@media (max-width: 560px) {
  .lp_feature-reviews-text-first::after {
    top: -19px;
  }
}
@media (max-width: 400px) {
  .lp_feature-reviews-text-first::after {
    top: -14px;
  }
}

@media (max-width: 560px) {
  .lp_feature-reviews-second {
    height: 160px;
  }
}
@media (max-width: 400px) {
  .lp_feature-reviews-second {
    height: 120px;
    max-width: 310px;
    margin-right: auto;
  }
}

@media (max-width: 560px) {
  .lp_feature-reviews-img-second {
    width: 160px;
    height: 160px;
    top: 0;
    left: -25px;
  }
}
@media (max-width: 400px) {
  .lp_feature-reviews-img-second {
    width: 120px;
    height: 120px;
    top: 10px;
  }
}

@media (max-width: 560px) {
  .lp_feature-reviews-text-second {
    top: -20px;
    left: 60px;
  }
}
@media (max-width: 400px) {
  .lp_feature-reviews-text-second {
    top: 0px;
    left: 40px;
  }
}
.lp_feature-reviews-text-second::before {
  left: 25px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 560px) {
  .lp_feature-reviews-text-second::before {
    bottom: -19px;
  }
}
@media (max-width: 400px) {
  .lp_feature-reviews-text-second::before {
    bottom: -14px;
  }
}
.lp_feature-reviews-text-second::after {
  left: 25px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 560px) {
  .lp_feature-reviews-text-second::after {
    bottom: -19px;
  }
}
@media (max-width: 400px) {
  .lp_feature-reviews-text-second::after {
    bottom: -14px;
  }
}

@media (max-width: 560px) {
  .lp_feature-reviews-third {
    height: 200px;
  }
}
@media (max-width: 400px) {
  .lp_feature-reviews-third {
    height: 180px;
    max-width: 310px;
    margin-left: auto;
  }
}

@media (max-width: 560px) {
  .lp_feature-reviews-img-third {
    width: 300px;
    height: 300px;
    top: -10px;
    right: -30px;
  }
}
@media (max-width: 400px) {
  .lp_feature-reviews-img-third {
    width: 240px;
    height: 240px;
    right: -40px;
  }
}

.lp_feature-reviews-text-third {
  top: 10px;
}
.lp_feature-reviews-text-third::before {
  right: 25px;
  -webkit-transform: scale(-1, 1) rotate(180deg);
          transform: scale(-1, 1) rotate(180deg);
}
@media (max-width: 560px) {
  .lp_feature-reviews-text-third::before {
    bottom: -19px;
  }
}
@media (max-width: 400px) {
  .lp_feature-reviews-text-third::before {
    bottom: -14px;
  }
}
.lp_feature-reviews-text-third::after {
  right: 25px;
  -webkit-transform: scale(-1, 1) rotate(180deg);
          transform: scale(-1, 1) rotate(180deg);
}
@media (max-width: 560px) {
  .lp_feature-reviews-text-third::after {
    bottom: -19px;
  }
}
@media (max-width: 400px) {
  .lp_feature-reviews-text-third::after {
    bottom: -14px;
  }
}

.lp-btn-features {
  position: relative;
  margin-left: 0;
  z-index: 10;
}

@media (max-width: 560px) {
  .lp-body-title_info::before {
    width: 60px;
  }
}
@media (max-width: 400px) {
  .lp-body-title_info::before {
    width: 40px;
  }
}

@media (max-width: 560px) {
  .lp_info-part {
    margin-bottom: 15px;
  }
}
@media (max-width: 400px) {
  .lp_info-part {
    margin-bottom: 10px;
  }
}

.lp_info-title {
  display: block;
  background: #FFA398;
  color: #EEEEEE;
  border-radius: 0 50px 50px 0;
}
@media (max-width: 560px) {
  .lp_info-title {
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin-left: -20px;
    margin-bottom: 5px;
    padding-left: 20px;
  }
}
@media (max-width: 400px) {
  .lp_info-title {
    width: 80px;
    height: 24px;
    line-height: 24px;
    margin-left: -15px;
    margin-bottom: 3px;
    padding-left: 15px;
  }
}

.lp_info-text {
  line-height: 1.3em;
}

@media (max-width: 560px) {
  .lp_info-lead {
    margin-top: 3px;
    font-size: 10px;
    font-weight: 200;
    line-height: 1em;
  }
}

.lp_info-map {
  margin-top: 10px;
  width: 100%;
  height: 180px;
}
@media (max-width: 560px) {
  .lp_info-map {
    height: 180px;
  }
}
@media (max-width: 400px) {
  .lp_info-map {
    height: 120px;
  }
}
.lp_info-map iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 560px) {
  .lp-body-title_faq::before {
    width: 30px;
  }
}
@media (max-width: 400px) {
  .lp-body-title_faq::before {
    width: 20px;
  }
}

.lp_faq-part {
  border-bottom: 1px solid #FFA398;
}
@media (max-width: 560px) {
  .lp_faq-part {
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 20px;
  }
}
@media (max-width: 400px) {
  .lp_faq-part {
    margin-bottom: 10px;
  }
}

.lp_faq-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question-mark, .answer-mark {
  color: #EEEEEE;
  background: #FFA398;
  border-radius: 50%;
  text-align: center;
  margin-bottom: -1px;
}
@media (max-width: 560px) {
  .question-mark, .answer-mark {
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    margin-left: -13px;
  }
}
@media (max-width: 400px) {
  .question-mark, .answer-mark {
    font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-left: -10px;
  }
}

.question-text, .answer-text {
  margin-left: 10px;
}
@media (max-width: 560px) {
  .question-text, .answer-text {
    line-height: 25px;
  }
}
@media (max-width: 400px) {
  .question-text, .answer-text {
    line-height: 19px;
  }
}

.question-button {
  display: block;
  background: #FFA398;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  margin-top: auto;
  margin-left: auto;
  margin-right: 5px;
}
@media (max-width: 560px) {
  .question-button {
    width: 12px;
    height: 10px;
    margin-bottom: 6px;
  }
}
@media (max-width: 400px) {
  .question-button {
    width: 8px;
    height: 6px;
    margin-bottom: 4px;
  }
}

.lp_faq-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  border-top: 1px dotted #FFA398;
}
@media (max-width: 560px) {
  .lp_faq-answer {
    padding-top: 5px;
  }
}
@media (max-width: 400px) {
  .lp_faq-answer {
    padding-top: 3px;
  }
}

footer {
  background: #665F58;
  color: #F7DBCF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 560px) {
  footer {
    padding: 20px;
  }
}
@media (max-width: 400px) {
  footer {
    padding: 15px;
  }
}

.footer-organizer {
  margin-top: 20px;
}

.footer-right {
  margin-top: auto;
}
@media (max-width: 400px) {
  .footer-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
  }
}

.footer-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer-sns a {
  margin-top: 5px;
  display: block;
  height: 30px;
  width: 30px;
}
@media (max-width: 400px) {
  .footer-sns a {
    height: 20px;
    width: 20px;
  }
}

.fa-brands::before {
  line-height: 30px;
}
@media (max-width: 400px) {
  .fa-brands::before {
    line-height: 20px;
  }
}

.fa-instagram {
  color: #FFA398;
  font-size: 40px;
  margin-top: 10px;
  margin-left: 10px;
}
@media (max-width: 1000px) {
  .fa-instagram {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .fa-instagram {
    font-size: 20px;
  }
}

.fa-line {
  font-size: 26px;
}
@media (max-width: 400px) {
  .fa-line {
    font-size: 16px;
  }
}